@charset "utf-8";

/* ここからindex.html */
/* メイン画像をグリッド表示にする */
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    list-style: none;
}

/* 画像の表示サイズを調整する */
.product-list img{
    width: 100%;
    height: 40vh;
    object-fit: cover; /* 画像の縦横比を保ちつつ、枠を埋める */
}

.product-list a{
    text-decoration:none;
    color: black;
}

#header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.wrapper{
    padding: 0px 50px;
    /* max-width: 100%; */
    /* display:flex; */
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.menu{
    display:flex;
    gap:20px;
    margin: 20px 0;
}

.menu li{
    list-style: none;
}

.link-text{
    text-align: center;
    margin-top: 40px;
    color: black;
    text-decoration: none;
    display: block;
}

/* ここまでindex.html */
/* ここからitem.1 */
.page-title{
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.item{
    display: flex;
    max-width: 800px;
    justify-content: space-between;
}

.item .item-image{
    width:42%;
}

.item .item-text{
    width: 50%;
}

.item .item-text p{
    padding-bottom:1rem;
}

.item .item-image img{
    width: 100%;
}
/* テーブルの編集 */
.item table td{
    padding-left: 1rem;
}

/* ここまでitem.1 */
@media(max-width:600px){
    .product-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px
    }
    .product-list img{
        height:200px;
        width: auto;

    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .wrapper{
    padding: 0px 50px;
    /* max-width: 100%; */
    /* display:flex; */
    justify-content: space-between;
    }
    
    .site-title img{
        font-size:0.6rem;
    }

    .page-title{
        font-weight: normal;
        font-size: 0.9rem;
    }
    .item{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .item .item-image{
    width:100%;
    }

    .item .item-text{
        width: 100%;
    }

    .item .item-text p{
    padding-bottom:2rem;
}
}