@charset "utf-8";

/* メイン画像をグリッド表示にする */
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    list-style: none;
}

/* 画像の表示サイズを調整する */
.product-list img{
    width: 100%;
    height: 40vh;
    object-fit: cover; /* 画像の縦横比を保ちつつ、枠を埋める */
}

.product-list a{
    text-decoration:none;
    color: black;
}

.wrapper{
    padding: 0px 50px;
    /* max-width: 100%; */
    display:flex;
    justify-content: space-between;
}

.menu{
    display:flex;
    gap:20px;
    margin: 20px 0;
}

.menu li{
    list-style: none;
}