@charset "utf-8";

/* ここからindex.html */
/* メイン画像をグリッド表示にする */
.site-title img{
    width: 75%;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    list-style: none;
}

/* 画像の表示サイズを調整する */
.product-list img{
    width: 100%;
    height: 40vh;
    object-fit: cover; /* 画像の縦横比を保ちつつ、枠を埋める */
}

.product-list a{
    text-decoration:none;
    color: black;
}

#header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.wrapper{
    padding: 0px 50px;
    /* max-width: 100%; */
    /* display:flex; */
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.menu{
    display:flex;
    gap:20px;
    margin: 20px 0;
}

.menu li{
    list-style: none;
}

.link-text{
    text-align: center;
    margin-top: 40px;
    color: black;
    text-decoration: none;
    display: block;
}

/* ここまでindex.html */
/* ここからitem.1 */
.page-title{
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.item{
    display: flex;
    max-width: 800px;
    justify-content: space-between;
}

.item .item-image{
    width:42%;
}

.item .item-text{
    width: 50%;
}

.item .item-text p{
    padding-bottom:1rem;
}

.item .item-image img{
    width: 100%;
}
/* テーブルの編集 */
.item table td{
    padding-left: 1rem;
}

/* companyの編集 */
#company{
    max-width: 600px;
}
#company .info{
    width: 100%;
}
.page-title{
    font-weight: normal;
}
#company .info {
    display: flex;
    text-align: left;
    border-collapse: collapse; /* 枠線を1本にする */
}

#company .info th{
    padding-right: 5rem;
    font-weight: normal;
}

table th,td {
    border-bottom: 1px solid #c0c0c0; /* 線の太さ、種類、色 */
    line-height: 3;
    padding: 10px;
    font-size: 15px;
}

table tr:last-child td{
    border-bottom: none;
    line-height: 2;
}
table tr:last-child th{
    border-bottom: none;
}
.map{
    padding-top: 2rem;
    padding-bottom: 2rem;
    filter:grayscale(100%);
}
/* ここまでitem.1 */
@media(max-width:600px){
    .product-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px
    }
    .product-list img{
        height:200px;
        width: auto;

    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .wrapper{
    padding: 0px 50px;
    /* max-width: 100%; */
    /* display:flex; */
    justify-content: space-between;
    }
    
    .site-title img{
        font-size:0.6rem;
    }

    .page-title{
        font-weight: normal;
        font-size: 0.9rem;
    }
    .item{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .item .item-image{
    width:100%;
    }

    .item .item-text{
        width: 100%;
    }

    .item .item-text p{
    padding-bottom:2rem;
    }
    /* company */
    .site-title img{
        width: 75%;
    }
    #company table td{
        padding-top:0.2rem;
    }
    #company table th{
        border-bottom: none; 
        padding-bottom: 0.2rem;
        line-height:0.2rem;
    }
    #company table tr{
        padding: 10px 0;
    }
    #company .info table, tr ,th,td{
        display: block;
        width: 100%;
    }
    .map{
        text-align: center;
    }
    .map iframe{
        width: 400px;
        height:300px;
        max-width: 100%;
    }
    .wrapper{
        padding: 0 40px;
    }
}