@charset "utf-8";

/* VARIABLES */
/* サイト全体で使う色を先に変数で定義 */
    :root {
    --light-green: #d5edeb;
    --green: #63dbd0;
    --brown: #403632;
    --light-grey: #eee;
    --white: #fff;
    --lightPink:#ffb6c1;
    --Pink:#ffc0cb;
    --oswald-font: "Oswald", sans-serif;
    }

/* ここからindex.html */
/* メイン画像をグリッド表示にする */
.site-title img{
    width: 75%;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
    list-style: none;
}

/* メインの画像と文字を編集する */
.main{
    display: flex;
}

#top .profile{
    color: var(--lightPink);
}

/* 画像の表示サイズを調整する */
.product-list img{
    width: 100%;
    height: 40vh;
    object-fit: cover; /* 画像の縦横比を保ちつつ、枠を埋める */
}

.product-list a{
    text-decoration:none;
    color: black;
}

#header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.wrapper{
    padding: 0px 50px;
    /* max-width: 100%; */
    /* display:flex; */
    justify-content: space-between;
    margin-bottom: 3.5rem;
}

.menu{
    display:flex;
    gap:20px;
    margin: 20px 0;
}

.menu li{
    list-style: none;
}

.link-text{
    text-align: center;
    margin-top: 40px;
    color: black;
    text-decoration: none;
    display: block;
}

/* ここまでindex.html */
/* ここからitem.1 */
.page-title{
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.item{
    display: flex;
    max-width: 800px;
    justify-content: space-between;
}

.item .item-image{
    width:42%;
}

.item .item-text{
    width: 50%;
}

.item .item-text p{
    padding-bottom:1rem;
}

.item .item-image img{
    width: 100%;
}
/* テーブルの編集 */
.item table td{
    padding-left: 1rem;
}

/* companyの編集 */
#company{
    max-width: 600px;
}
#company .info{
    width: 100%;
}
.page-title{
    font-weight: normal;
}
#company .info {
    display: flex;
    text-align: left;
    border-collapse: collapse; /* 枠線を1本にする */
}

#company .info th{
    padding-right: 5rem;
    font-weight: normal;
}

table th,td {
    border-bottom: 1px solid #c0c0c0; /* 線の太さ、種類、色 */
    line-height: 3;
    padding: 10px;
    font-size: 15px;
}

table tr:last-child td{
    border-bottom: none;
    line-height: 2;
}
table tr:last-child th{
    border-bottom: none;
}
.map{
    padding-top: 2rem;
    padding-bottom: 2rem;
    filter:grayscale(100%);
}
/* nav */
/* スライドメニュー */

/* 開閉ボタン(共通部分) */
.btn-menu{
  /* 右上に固定する */
  position:fixed;
  top:1rem;/*上*/
  right:1rem;/* 右*/
  z-index:4;/*重なり位置*/
  padding:0.5rem 1rem;/*内側余白*/
  border:1px solid var(--brown);/*枠線　実線　ブラウン*/
  border-radius:50%;
  height:4rem;
  width:4rem;
}

/* 開くボタンの三本線 */
#menu-open span{
  width:100%;
  height:2px;
  background-color: black;
  position:relative;/*位置を相対的に*/
  display: block;
}

/* spanタグそれぞれにcssをあてる */
#menu-open span:nth-child(1){
  top: 0;
}
#menu-open span:nth-child(2){
  margin: 8px 0;/*ｙ軸方向（上下）への外側余白*/
}
#menu-open span:nth-child(3){
  top:0;
}
/* 閉じるボタン */

#menu-close{
  border: 1px solid white;
}
#menu-close span{
  width:100%;
  height:2px;
  background-color:white;
  position:relative;/*位置を相対的に*/
  display: block;
}

/* spanタグそれぞれにcssをあてる */
#menu-close span:nth-child(1){
  translate:0 4px;
  transform: rotate(-315deg);/*変形の中の回転　-315度*/
}
#menu-close span:nth-child(2){
  opacity:0;
}
#menu-close span:nth-child(3){
  transform:rotate(-45deg);
}
/* スライドメニューパネル */
#menu-panel{
  position:fixed;
  top:0;
  right:0;
  z-index:10;/*重なり位置*/
  padding:8rem 2rem 2rem;
  width:20vw;
  height:100Vh;
  background-color: var(--Pink);
  font-family: var(--oswald-font);
  translate:100vw;/*x軸　+100*/
}

.menu-list{
  list-style: none;
}

.menu-list li{
  margin: 1.5rem 0;
  opacity: 0;
}
.menu-list a{
  font-size: 2rem;
  text-decoration: none;
  color:var(--light-grey);
}
/* nav */
/* ここまでitem.1 */
@media(max-width:600px){
    .product-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px
    }
    .product-list img{
        height:200px;
        width: auto;

    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .wrapper{
    padding: 0px 50px;
    /* max-width: 100%; */
    /* display:flex; */
    justify-content: space-between;
    }
    
    .site-title img{
        font-size:0.6rem;
    }

    .page-title{
        font-weight: normal;
        font-size: 0.9rem;
    }
    .item{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .item .item-image{
    width:100%;
    }

    .item .item-text{
        width: 100%;
    }

    .item .item-text p{
    padding-bottom:2rem;
    }
    /* company */
    .site-title img{
        width: 75%;
    }
    #company table td{
        padding-top:0.2rem;
    }
    #company table th{
        border-bottom: none; 
        padding-bottom: 0.2rem;
        line-height:0.2rem;
    }
    #company table tr{
        padding: 10px 0;
    }
    #company .info table, tr ,th,td{
        display: block;
        width: 100%;
    }
    .map{
        text-align: center;
    }
    .map iframe{
        width: 400px;
        height:300px;
        max-width: 100%;
    }
    .wrapper{
        padding: 0 40px;
    }
}